* {
  margin: 0;
}

html, body {
  height: 100%;
}

.demo-layout-transparent {
  min-height: 100%;
  margin-bottom: -80px;
}

.demo-layout-transparent:after {
  content: "";
  display: block;
}

#buildSection {
 /* background-color: #80b3a7;
  color: white;*/
}

#buildSection .demo-card-wide {
  background: none;
  background-color: #80b3a7;
  width: 80%;
  margin-left: 5%;
}

#buildSection .mdl-card__title-text {
  color: white;
}

#buildSection .mdl-card__supporting-text {
  color: white;
  font-size: 1em;
 /* font-family: 'Open Sans Condensed', sans-serif;*/
  line-height: 30px;
  font-weight: 100;
}

#letsBuild {
  width: 80%;
}

#getInTouch {
  width: 80%;
}

#getInTouch .mdl-card__supporting-text button {
  background-color: white;
  color: #80b3a7;
  float: right;
}

#getInTouch .mdl-card__supporting-text button:hover {
  color: white;
  background-color: #e6e6e6;
}

#servicesArea {
  background-color: #e6e6e6;
  margin:5%;
}

#servicesOffer:hover {
  background-color: white;
  opacity: .8;
}

#servicesTitle {
  text-align: center;
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
  padding: 3%;
  color: #fff;
}

#siteHeader {
  min-height: 110px;
}

#siteHeader .mdl-layout-title {
  color: black;
  margin-left: 10%;
}

#siteHeader .mdl-navigation a {
  color: black;
  height: auto;
}

#siteHeaderImg {
  width: 100%;
  height: 100%;
  margin-top: 12%;
}

#offeringImg {
  height: 100%;
  width: 100%;
}

#offeringImg p {
  text-align: center;
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 3%;
}



.mdl-layout__drawer-button .material-icons {
  color: black;
}

.siteFooter {
  background-color: #80b3a7;
  color: white;
  height: 80px;
}















